.user__container{
    padding-top: 29px;
    padding-bottom: 56px;
    padding-left: 23px;
    padding-right: 23px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    max-width: 437px;
    width: 307px;
    gap: 49px;
    max-height: 322px;
    overflow-y: scroll;
}