.header-container{
    font-family: sans-serif;
    background: #F5F5F5;
    border: 1px solid #DDDDDD;
    .header{
        color: #1b1a1a;
        padding: 18px 22px;
        font-weight: 400;
        font-size: 20px;
    }
}