@import '../Mixins/mixins.scss';
@import '../Basic/glob_vars.scss';


.card__container{
    @include flexprob;
    border: 2px solid;
    
 }


.cards{
    width: 30%;
    border-width: 1px;
    padding: 40px;
    .icon{
        width: 15%;
        object-fit: contain;

    }
    h3{
        margin: 0;
        font-size: 20px;
        font-weight: 500px;
        line-height: 180%;
    }
    p{
        margin: 0;
        font-size: 16px;
        line-height: 180%;

    }
    
    .button-style{
        font-family: 'poppins';
        font-size: 16px;
        background-color: $btn-color;
        color: $bg-color;
        margin-top: 10px;
        padding-block: 10px;
        padding-inline: 20px;
        border-style: none;        
        border-radius: 20px;
    }
}

@media screen and (max-width: 800px) {

    .card__container{
        flex-direction: column;
    }

}






