.nav{
    &--btn{
        border: 2px solid black;
        font-size: 16px;
        font-family: 'Inter';
        font-weight: 600;
        line-height: 28px;
    }
    &--list{
        & .nav{
            font-size: 16px;
            font-family: 'Inter';
            font-weight: 600;
            line-height: 28px;
    
        }
    }
    &-logo_container{
        & .offcanvas-body{
            font-size: 16px;
            font-family: 'Inter';
            font-weight: 600;
            line-height: 28px;
            color: white;
        }
        & button{
            border: none;
        }
        &--img{
            max-width: 153px;
            @include media-breakpoint-up(xl){
                max-width: 271px;
            }
        }
    }   
}