.section_a14{
    &--detail{
        margin-top: 4rem;
        margin-bottom: 4rem;
        @include media-breakpoint-up(md){
            margin-top: 8rem;
            margin-bottom: 8rem;
        }
    }

    &--btn{
        border: none;
        color: white;
        background-color: $sky;
    }
}