.btn-primary{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border: 2px solid;
    text-align: center;
    font-family: 'Inter';
    font-size: 1.8rem;
    font-weight: 600;
    background-color: transparent;
}