.sidebar-logo{
    font-family: 'Mulish', sans-serif;
    font-size: 19px;
    line-height: 23.85px;
    color: #A4A6B3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 41px;
    padding-bottom:63px;
    padding-left: 32px;
    padding-right: 43px;
    .logo{
        display: flex;
        margin-right: 12px;
    }
}