
.section-stylegiude{
    border-style: solid;
    width:30rem;
    height: 20rem;
    margin: 10px;
    @include flex;
    flex-direction: column;

    .color_container{
        @include flex;
        padding: 10px;
        .colors-boxStyle{
            margin: 20px;
            img{
                width: 8rem;    
                border-radius: 10px;
            }
        }    
    }
}