.section_a41{
    &--container{
        &--row{
            &--col_1{
                &--img_conatiner{
                    overflow: hidden;
                    & img{
                        object-fit: cover;
                    }
                }            
            }

            &--col_2{
                &--detail_container{
                    border-top: 8px solid black;
                    color: white;
                    background-color: $sky;
                    @include media-breakpoint-up(md){
                        position: relative;
                        margin-top: -4rem;
    
                    }
                }

            }
        }
    }
}