.section_a22{
    &--banner_container{
        @include media-breakpoint-up(md){
            position: relative;
        }

        &--img_container{
                max-height: 23rem;

                @include media-breakpoint-up(md){
                    max-height: 48rem;
                }
            & img{
                object-fit: cover;
            }
        }

        &--details_container{
            @include media-breakpoint-up(md){
                position: absolute;
                right: 0;
            }
                &--icon_container{
                    font-size: 6rem;
                }
        }




    }

}