.section_a15{
    &--img_container{
        max-width: 15.3rem;
        max-height: 15.3rem;
        @include media-breakpoint-up(md){
            max-width: 23.6rem;
            max-height: 23.6rem;
    
        }
    }

    & img{
        position: absolute;
        left: 1.4rem;
        top: 0.2rem;
        object-fit: cover;
        border-radius: 50%;

    }
    &--img_wrapper{
        width: 16.9rem;
        height: 16.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $sky;
        border-radius: 50%;
        position: relative;
        margin-bottom: 2.4rem;
        @include media-breakpoint-up(md){
            margin-bottom: 3.2rem;
            width: 260px;
            height: 260px;
        }
        @include media-breakpoint-up(xl){
            margin-bottom: 3.6rem;

        }
    }
    &--title{
        margin-top: 4.3rem;
        margin-bottom: 1.6rem;
        @include media-breakpoint-up(md){
            margin-top: 5.52rem;
            margin-bottom: 3.2rem;

        }
        @include media-breakpoint-up(xl){
            margin-top: 8.4rem;
            margin-bottom: 2.3rem;

        }
        
    }
    &--description{
        margin-bottom: 1.6rem;
        @include media-breakpoint-up(md){
            margin-bottom: 3.2rem;

        }
        @include media-breakpoint-up(xl){
            margin-bottom: 4.4rem;

        }
    }

    &--img_description{
        color: $sky;
        font-weight: 400;
        margin-bottom: 2.8rem;

        @include media-breakpoint-up(xl){
            margin-bottom: 2rem;

        }
    }

    &--description1{
        margin-bottom: 5.8rem;

        @include media-breakpoint-up(md){
            margin-bottom: 6.67rem;

        }   
        @include media-breakpoint-up(xl){
            margin-bottom: 9.3rem;

        }
    }


}
