.section_a33{
    &--list_container{
        &--list{
            &--items{
                list-style: disc;

            }
        }
    }
    &--img_container{
        max-width: 33.5rem;
        max-height: 22.1rem;
        @include media-breakpoint-up(md){
            filter: drop-shadow(8px 8px 0px #EAEFED);
            max-width: 77.6rem;
            max-height: 33.6rem;
        }
        @include media-breakpoint-up(xl){
            filter: drop-shadow(8px 8px 0px #EAEFED);
            max-width: 83rem;
            max-height: 39.3rem;
        }
        & img{
            object-fit: cover;
        }

    }
    &--caption p{
        background-color: #EAEFED;
        @include media-breakpoint-up(md){
            background-color: white;
        }
    }
}