.section_a16{
    & .img_container{
        & img{
            object-fit: cover;
        }
        // @include media-breakpoint-up(md){
        //     max-width: 47.2rem;
        //     max-height: 58.8rem;
        // }

        // @include media-breakpoint-up(xl){
        //     max-width: 56.4rem;
        // }
    }
    &--wrapper_img{
        border-top: 8px solid $sky;
    }
    & .carousel {
        &__changer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__arrow {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                background-color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &__dots {
            display: flex;
            &__dot {
                width: 0.8rem;
                height: 0.8rem;
                border-radius: 50%;
                border: 1px solid $sky;
                margin-left: 0.8rem;
                margin-right: 0.8rem;
                background: $blush;
                &:first-child {
                    background: $sky;
                }
            }
        }
    }
}