.section_a32{
    &--heading_container{
        &--search_container{
            &--form_container{
                position: relative;
                @include media-breakpoint-up(md){
                    width: 50rem;
                }
                &--icon{
                    position: absolute;
                    right: 2rem;
                }
                & input{
                    border: 2px solid $sky;
                    height: 4.2rem;
                    border-radius: 3.2rem;
                    font-family: 'Inter';
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 32px;
                    padding: 30px;
                    @include media-breakpoint-up(md){
                        height: 6.4rem;
                    }
                }
                &-form{
                    &:focus {
                        border-color: $sky;
                        box-shadow: none;
                    }
                 }

            }

            &--dropdown .show{
                @include media-breakpoint-down(md){
                    transform: none !important;
                    position: relative !important;
            
                }
            }
    
            &--dropdown{
                text-align: right;
                &--dropdown_menu{
                    background-color: $mint;
                    border: 2px solid $peach;
                    @include media-breakpoint-down(md){
                        margin: 0 -24px !important;
                    }
                    &--hr{
                        margin-left: 24px ;
                        margin-right: 24px;
                    }
                }

                &--btn:first-child:active{
                    border: none;

                }
                &--btn:first-child:focus{
                    border: none;
                }
            }
        }
    }
    &--pagination{
        & .number{
            text-decoration: underline;
        }
    }
 
}


