.signUp-container{
    border-radius: 8px;
    width: 380px;
    overflow: hidden;
    background-color:#FFFFFF;
    font-family:"Mulish", sans-serif;
    .logo-container{
        text-align: center;
        padding-top: 40px;
        h2{
            color: #A4A6B3;
            font-size: 19px;
            padding-top: 12px;
        }
        h3{
            color:#252733;
            line-height: 30px;
            letter-spacing: 0.3px;
            font-size: 24px;
            padding-top: 24px;
            padding-left: 32px;
            padding-right: 32px;
        }
        p{
            padding-top: 12px;
            padding-bottom: 24px;
            color: #9FA2B4;
            font-size: 14px;
            line-height: 20px;

        }
    }

    .form-container{
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 40px;

        .fullname-container{
            display: flex;
            flex-direction: column;
            #fullname-label{
                font-style: 12px;
                color: #9FA2B4;
                padding-bottom: 6px;
            }
            #fullname-input{
                border-radius: 8px;
                padding-top: 11px;
                padding-bottom: 11px;
                padding-left: 16px;
                background: #FCFDFE;
                border: 1px solid #F0F1F7;
                &:focus{
                    outline: none;
                }
            }
        }
        .email-container{
            padding-top: 24px;
            display: flex;
            flex-direction: column;
            #email-label{
                font-style: 12px;
                color: #9FA2B4;
                padding-bottom: 6px;
            }
            #email-input{
                border-radius: 8px;
                padding-top: 11px;
                padding-bottom: 11px;
                padding-left: 16px;
                background: #FCFDFE;
                border: 1px solid #F0F1F7;
                &:focus{
                    outline: none;
                }
            }
        }
        .password-container{
            padding-top: 24px;
                        display: flex;
            flex-direction: column;
            #password-label{
                font-style: 12px;
                color: #9FA2B4;
                padding-bottom: 6px;
            }
            .password-input-container{
                display: flex;
                align-items: center;
                gap: 8px;
                border-radius: 8px;
                border: 1px solid #F0F1F7;
                overflow: hidden;
                #password-input{
                    width: 100%;
                    background: #FCFDFE;
                    padding-top: 11px;
                    padding-bottom: 11px;
                    padding-left: 16px;
                    // padding-right: 44px;
                    border: none;
                    &:focus{
                        outline: none;
                    }
                }
                #display-password{
                    text-align: left;
                   padding-right: 11px;
                   color: #9FA2B4;
                   cursor: pointer;
                }            
            }

        }
        .confirmpassword-container{
            padding-top: 24px;
            display: flex;
            flex-direction: column;
            #confirmpassword-label{
                font-style: 12px;
                color: #9FA2B4;
                padding-bottom: 6px;
            }
            .confirmpassword-input-container{
                display: flex;
                align-items: center;
                gap: 8px;
                border-radius: 8px;
                border: 1px solid #F0F1F7;
                overflow: hidden;
                #confirmpassword-input{
                    width: 100%;
                    background: #FCFDFE;
                    padding-top: 11px;
                    padding-bottom: 11px;
                    padding-left: 16px;
                    // padding-right: 44px;
                    border: none;
                    &:focus{
                        outline: none;
                    }
                }
                #display-password{
                    text-align: left;
                   padding-right: 11px;
                   color: #9FA2B4;
                   cursor: pointer;
                }            
            }

        }
        #signUp-button{
            margin-top: 24px;
            width: 100%;
            padding: 15px 24px;
            box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
            border-radius: 8px;
            border: none;
            color: #FFFFFF;
            background: #3751FF;
            cursor: pointer;
        }
        
        .login-page-container{
            padding-top: 24px;
            padding-bottom: 16px;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: #9FA2B4;
            #login-page-redirect{
                font-weight: 600; 
                color: #3751FF;
            }
        }
    }

}