.table-container{
    padding-left: 54px;
    padding-right: 55px;
    padding-top: 67px;
    padding-bottom: 190px;
    .session-table{
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }   
}