.ticket-detail-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:"Mulish", sans-serif;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 48px;
    h3{
        color:#252733;
        font-size: 19px;
        line-height: 23.85px;
    }
    .ticket-detail-features{
        display: flex;
        .sort{
            display: flex;
            align-items: center;
            cursor: pointer;
            h3{
                padding-left: 8px;
                font-size: 14px;
            }
        }
        .filter{
            display: flex;
            align-items: center;
            padding-left: 32px;
            cursor: pointer;
            h3{
                padding-left: 8px;
                font-size: 14px;
            }
        }
        .add-tickets{
            display: flex;
            color: #c5c7cd;
            align-items: center;
            padding-left: 32px;
            cursor: pointer;
            h3{
                padding-left: 8px;
                font-size: 14px;
            }
        }

    }

    .ticket-form{
        position: fixed;
        background-color: #c5c7cd;
        top: 0px;
        left: 30rem;
        height: 50vh;
        padding: 40px;
        .fullname{

            display: flex;
            flex-direction: column;
            #fullname-label{
                padding-bottom: 8px;
            }
        }
    }

    .dropdown-filter-container{
        position: relative;
        .filter-dropdown{
            position: absolute;
            padding: 10px;
            border: 1px solid #c5c7cd;
            border-radius: 4px;
            top: 30px;
            left:-120px;
            width: 120px;
            background-color: rgb(253, 253, 253);
            ul{
                list-style-type: none;
                li{
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    input[type="checkbox"]{
                        width: 15px;
                        height: 15px;
                    }
                    #filter-label{
                        padding-left: 10px;
                    }
                }
            }
        }
    }



}