@import './common-imports.scss';


.main-container{
    margin: 80px;
    font-family: 'Poppins', sans-serif;;
    &--heading{
        font-size: 27.6px;
    }
}

hr{
    height: 0.5px;
    background-color: $Black;
}